*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
}
html a{
    text-decoration: none;
    color: black;
}

/* NAVBAR */

.navbar{
    display: flex;
    /* border: 2px solid red; */
    width: 100%;
    align-items: center;
    padding: 25px 45px 5px 25px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    z-index: 5;
    box-shadow: 0px 0px 25px rgb(209, 208, 208);
}
.logo img{
    width: 90px;
    align-items: center;
}
.nav-list a{
    cursor: pointer;
    color: black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0);
    font-size: 18px;
    padding: 5px 5px 7px 5px;
    margin: 3px 10px;
    border-radius: 5px;
    transition: all 0.3s;
}
.nav-list a:hover{
    color: white;
    background-color: rgb(125, 23, 19);
}
.nav-list{
    padding-right: 60px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    /* border: 2px solid green; */
}
.nav-list li{
    list-style: none;
    /* border: 2px solid pink; */
}
.logo-text h1{
    padding: 0 0 0 12px;
    font-size: 34px;
    font-weight: 400;
}




/* WHATSAPP CHAT */
.whatsapp{
    width: 64px;
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 5;
    
}
.whatsapp img{
    width: 100%;
    filter: drop-shadow(5px 4px 4px #3b3b3b9f);
}



/* HOME SECTION */
#home{
    /* border: 2px solid red; */
    /* height: 400px; */
    padding-top: 136px;
}
.home-container{
    padding: 0 75px 0 75px;
}
.home-container-1{
    display: flex;
    flex-direction: row-reverse;
}
.home-container-1-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* align-items: right; */
    justify-content: center;
    width: 100%;
}
.home-container-1-content h1{
    font-size: 45px;
    color: rgb(125, 23, 19);
}
.home-container-1-content p{
    font-weight: 300;
    font-size: 27px;
    line-height: 36px;
}
/* .home-container-1-img{
    border: 2px solid green;
    width: 50%;
} */
.home-container-1-img img{
    width: 100%;
}


.home-container-2{
    /* border: 2px solid red; */
    background-image: url('/img/Web_Photo_Editor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    padding: 100px 0 100px 0;
    /* flex-direction: row-reverse; */
    /* height: 5000px; */
}
.home-container-2-head{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
    width: 100%;
}
.home-container-2-head h1{
    font-size: 37px;
    color: rgb(125, 23, 19);
}
.home-container-2-pointers{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 75px;
    align-items: center;
    justify-content: center;
}
.home-2-pointers li{
    font-size: 27px;
    line-height: 50px;
    font-weight: 300;
    list-style: circle;
}


.home-container-3{
    display: flex;
    flex-direction: row-reverse;
}
.home-container-3-img{
    /* border: 2px solid black; */
    width: 100%;
}
.home-container-3-img img{
    width: 100%;
}
.home-container-3-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.home-container-3-content h1{
    font-size: 36px;
    color: rgb(125, 23, 19);
}
.home-container-3-content p{
    font-size: 25px;
    font-weight: 300;
}



/* ABOUT SECTION */
#about{
    /* border: 2px solid blue; */
    /* height: 400px; */
    padding-top: 136px;
}
.about-container{
    /* border: 2px solid red; */
    padding: 0 75px 10px 75px;
}
.about-1-header h2{
    text-align: center;
    font-size: 32px;
    color: rgb(125, 23, 19);
}
.about-1-header-container{
    display: flex;
}
/* .about-1-header-container-img{
    border: 2px solid green;
    width: 50%;
} */
.about-1-header-container-img img{
    width: 100%;
}
.about-1-header-container-text{
    /* justify-content: center; */
    margin: 0 0 0 50px;
    display: flex;
    align-items: center;
}
.about-1-header-container-text p{
    font-weight: 300;
    font-size: 27px;
    line-height: 30px;
}


.about-container-2{
    /* border: 2px solid red; */
    display: flex;
    /* padding-top: 50px; */
}
/* * {box-sizing:border-box} */

.about-2-slideshow{
    width: 100%;
    padding: 25px;
    /* height: 1000px; */
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  /* border: 2px solid green; */
  /* height: 1000px; */
  /* margin: auto; */
}
.slideshow-container img{
    box-shadow: 5px 5px 15px rgb(78, 77, 77);
    border: 2px solid rgba(125, 23, 19, 0.76);
    border-radius: 25px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

/* .active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}


.about-2-content{
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 25px;

}
.about-2-content p{
    font-size: 24px;
    font-weight: 300;
    text-align: right;
    /* border: 2px solid red; */
}
.hline{
    text-align: right;
    color: rgb(125, 23, 19);
    /* font-weight: bolder; */
    /* font-size: 26px; */
}





/* CONTACT SECTION */
#contact{
    /* border: 2px solid green; */
    /* height: 400px; */
    padding-top: 136px;
    background-image: url('/img/Untitledn.jpg');
    background-position: center;
    /* transform: scaleX(-1); */
    background-size: 100%;
    /* opacity: 0.5; */
}
/* .contact-container{
    border: 2px solid red;
    background-color: rgba(125, 23, 19, 0.137);
} */
.contact-content{
    display: flex;
    /* border: 2px solid red; */
    padding: 0 75px 25px 50px;
}
.contact-content-left{
    width: 40%;
    padding: 45px;
    /* border: 2px solid red; */
}
.left-header{
    /* border: 2px solid blue; */
    margin-bottom: 25px;
}
.left-header h1{
    color: rgb(125, 23, 19);
    font-size: 32px;
    font-weight: 400;
}
.address{
    margin: 25px 0px;
    font-size: 18px;
}
.address p{
    line-height: 30px;
}
.address h3{
    margin-bottom: 12px;
    color: rgb(125, 23, 19);
    font-size: 21px;
}
.phone{
    margin: 25px 0px;
    font-size: 18px;
}
.phone p a{
    line-height: 30px;
}
.phone h3{
    margin-bottom: 12px;
    color: rgb(125, 23, 19);
    font-size: 21px;
}
.email{
    margin: 25px 0px;
    font-size: 18px;
}
.email p a{
    line-height: 30px;
}
.email h3{
    margin-bottom: 12px;
    color: rgb(125, 23, 19);
    font-size: 21px;
}
.clinic-timings{
    margin: 25px 0px;
    font-size: 18px;
}
.clinic-timings p{
    line-height: 30px;
}
.clinic-timings h3{
    margin-bottom: 12px;
    color: rgb(125, 23, 19);
    font-size: 21px;
}


.contact-content-right{
    width: 60%;
    /* border: 2px solid blue; */
}
.map-header{
    margin: 45px;
}
.map-header h1{
    color: rgb(125, 23, 19);
    font-size: 32px;
    font-weight: 400;
}
.map{
    border: 4px solid rgb(125, 23, 19);
    /* display: block; */
    margin: 5px 25px;
}
.map iframe{
    width: 100%;
}




/* BOOK SECTION */
/* #book{
    border: 2px solid yellow;
    height: 400px;
    padding-top: 136px;
} */